h1{
  color:deeppink;
  font-size: 40px;
  font-family: cursive;
  text-align: center;   
}

h2{
   color:pink;
}
    
    


p{
    font-weight: 800;
    text-decoration: inherit
}
table{
    font-weight: 300;
    width: 100%;
    border-color: skyblue;
    text-align: center;
} 
td{
   font-weight:400;
   color: plum;    
}
product{
    align-content: center;    
}
pram img{
    align-content: center;
}